<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # No reescribir archivos y directorios existentes
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirigir todo lo demás a index.html
  RewriteRule ^ index.html [L]
</IfModule>
